<div class="container">
  <header>
    <h1>{{title}} {{pokemon.name}}</h1>
    <h3>Type: {{pokemon.type}}</h3>
  </header>
  <body>
    <div class="col-xs-1">
      <img ng-src="{{pokemon.imagefront}}">
    </div>
    <div class="col-xs-1">
      <img ng-src="{{pokemon.imageback}}">
    </div>
    <form class="form-inline">
      <div class="col-xs-5">
        <div class="row form-group">
          <label for="cpnum" class="control-label">CP: </label>
          <input type="number" class="form-control" ng-model="cp" id="cpnum">
          <button class="btn btn-primary">Save</button>
        </div>
        <div class="row form-group">
          <label for="hpnum" class="control-label">HP: </label>
          <input type="number" class="form-control" ng-model="hp" id="hpnum">
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
    <div class="col-xs-5">
      <h4>CP: {{cp}}</h4>
      <h4>HP: {{hp}}</h4>
      <h4>Moves:</h4>
        <li>
          <ul>{{pokemon.move1}}</ul>
          <ul>{{pokemon.move2}}</ul>
          <ul>{{pokemon.move3}}</ul>
        </li>
    </div>

  </body>
</div>
