<div class="container" style="text-align: center;">

  <header>
    <img ng-src="../assets/pokemon-go-logo.png" style="height: 40%; width: 40%;">
    <h3>Gotta Catch 'Em All (for KTV)!</h3>
  </header>
  <section>
    <input type="text" ng-model="pokemonName" class="form-control" style="width: 50%; margin-left: 25%" placeholder="Search Pokemon"><br>
    <div class="row">
      <button class="btn btn-primary" ng-click="getPokemon()">Choose Your Pokemon</button>

      <button class="btn btn-warning" ng-click="getMove()">Random Move Info</button>
      <button class="btn btn-success" ng-click="savePokemon()">Caught!!</button>
    </div>
    <div class="row">
      <div ng-if="pokemon" class="col-xs-6">
        <h1>{{pokemon.name}}</h1>
        <img src="{{pokemon.sprites.front_default}}">
      </div>
      <div ng-if="move" class="col-xs-6">
        <h1>{{move.name}}</h1>
        <h3>Power: {{move.power}}</h3>
        <h3>Accuracy: {{move.accuracy}}</h3>
      </div>
    </div>
  </section>

</div>
