body {
  /*padding: 20px;*/
  font: 14px 'Press Start 2P', Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 3px 3px black;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b3/b5/01/b3b5017c06a693ceb7a6c5c279a5795d.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

header {
  padding: 20px;
  margin-top: 55px;
}

a {
  color: #00B7FF;
}
